@use '../util' as u;

html, body {
  width: 100%;
  overflow-x: hidden;
}


html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: u.$font;
  background: var(--main-bg);
  color: var(--text-light);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @include u.theme(
    u.$light-background,
    u.$light-text,
    u.$light-link,
    u.$light-link-hover,
    u.$light-transparent-background,
    u.$light-contact-form,
    u.$light-form-input,
    u.$light-footer
  );

  &.dark-mode {
    @include u.theme(
      u.$dark-background,
      u.$dark-text,
      u.$dark-link,
      u.$dark-link-hover,
      u.$dark-transparent-background,
      u.$dark-contact-form,
      u.$dark-form-input,
      u.$dark-footer
    );
  }
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

