@mixin box-shadow {
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// @mixin theme($background-color, $text-color) {
//     background-color: $background-color;
//     color: $text-color;
// }

@mixin theme($background-color, $text-color, $link-color: null, $link-hover-color: null) {
    --main-bg: #{$background-color};
    --text-light: #{$text-color};
    --link: #{if($link-color != null, $link-color, $text-color)};
    --link-hover: #{if($link-hover-color != null, $link-hover-color, $text-color)};
  }
  