$light-background: hsl(0, 0%, 96%);
$light-text: hsl(219, 100%, 8%);
$light-link: hsl(219, 100%, 8%);
$light-link-hover: hsl(220, 100%, 25%);


$dark-background: hsl(252, 100%, 5%);
$dark-text: hsl(0, 0%, 100%);
$dark-link: hsl(0, 0%, 100%);
$dark-link-hover: hsl(210, 53%, 88%);
