@use '../util' as u;

.expertise-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(3rem, 2.293rem + 3.008vw, 5rem);    
    margin-bottom: 4rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
  
    @media (max-width: 900px) {
      grid-template-columns: 1fr; // Force single column
    }
  }
  
}
