@use '../util' as u;

.feedback-form {
    max-width: 800px;
    min-height: 35rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.14);
    border-radius: 0.75rem;
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 

    &__title {
      font-family: 'Open Sans', sans-serif;
      font-size: clamp(3rem, 2.293rem + 3.008vw, 5rem);    
      margin-bottom: 2rem;
      text-align: center;
    }
  
    &__label {
      display: block;
      margin-bottom: 1.25rem;
      font-weight: 600;
      color: var(--text-light); 
    }

    &__placeholder {
      color: var(--text-light);
    }

    &__input::placeholder,
    &__textarea::placeholder {
      color: var(--text-light);
      opacity: 0.6; 
    }

  
    &__input,
    &__textarea {
      background-color: rgba(255, 255, 255, 0.14);
      width: 100%;
      padding: 0.5rem 0.75rem;
      margin-top: 0.25rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      box-sizing: border-box;
      color: var(--text-light);
      min-height: 3rem;
      margin-bottom: 1rem;
      border: none;
  
      &:focus {
        outline: none;
        border-color: var(--dark-bg);
        box-shadow: 0 0 0 2px var(--my-shadow);
      }
    }
  
    &__textarea {
      min-height: 18rem;
      resize: vertical;
    }
  
    &__error {
      color: var(--accent-text-error);
      font-size: 0.875rem;
      margin-top: 0.25rem;
    }

    .toggleButton {
      margin-bottom: 5rem;
      color: var(--accent-text-light);
      background-color: var(--button-primary-bg);
      padding: 8px 15px;
      font-size: 1rem;
      border-radius: 5px;
      border: 1px solid white;
  
      &:hover {
        background-color: var(--button-primary-bg-hover);
      }
    }
  
    &__button {
      color: var(--text-light);
      background-color: var(--button-primary-bg);
      padding: 12px 24px;
      font-size: 1rem;
      border-radius: 50px;
      border: 2px solid var(--text-light);
      font-size: u.rem(24);
      margin-top: 1rem;
  
      &:hover {
        background-color: rgba(0, 0, 0, 0.128) !important;
        color: var(--text-light);
        border: 2px solid var(--text-light);
      }
    }
  }
  