@use '../util' as u;

@keyframes slideInLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.projects {
  padding: 2rem;
  text-align: center;
  margin-top: 8rem;

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(3rem, 2.293rem + 3.008vw, 5rem);    
    margin-bottom: 5rem;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // gap: 2rem;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 2rem;
    margin-bottom: 5rem;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.4s ease, transform 0.4s ease;


    &.animate {
      animation: slideInLeft 0.8s ease forwards;
    
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: 0.15s * $i;
        }
      }
    }    

    @media (max-width: 768px) {
      flex-direction: column;

      .projects__image {
        order: 2;
      }

      .card {
        order: 1;
      }
    }

    &.reverse-on-desktop {
        flex-direction: row-reverse;
      
        @media (max-width: 768px) {
          flex-direction: column !important;
        }
      }
      
  }

  @keyframes float {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-8px); }
    100% { transform: translateY(0); }
  }

  .projects__image--1 {
    width: 60%;
    max-width: 1000px;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
    margin-left: -10vw;
    transition: margin 0.3s ease;

  
    @media (max-width: 1024px) {
      margin-left: -5vw;
    }
  
    @media (max-width: 768px) {
      width: 100%;
      margin-left: 0;
    }
  }

  
  .projects__image--2 {
    width: 60%;
    max-width: 1000px;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
    margin-right: -10vw;
    transition: margin 0.3s ease;
  
    @media (max-width: 1024px) {
      margin-right: -5vw;
    }
  
    @media (max-width: 768px) {
      width: 100%;
      margin-right: 0;
    }
  }
  
  .projects__image--3 {
    width: 60%;
    max-width: 800px;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
    margin-left: -10vw;
    transition: margin 0.3s ease;
  
    @media (max-width: 1024px) {
      margin-left: -5vw;
    }
  
    @media (max-width: 768px) {
      width: 100%;
      margin-left: 0;
    }
  }
  

}
