@use '../util' as u;

.card {
  padding: 16px;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  align-items: left;
  display: flex;
  flex-direction: column;
  text-align: left;
  // max-width: 90rem;
  width: 40%;

  @media (max-width: 1024px) {
    width: 80%;
  }

  &--project {
    // border-left: 4px solid var(--button-primary-bg-hover);
  }

  &__title {
    font-size: u.rem(34);
    color: var(--text-light);
    @media (max-width: 1024px) {
      font-size: u.rem(32);
    }
  }

  &__description {
    font-size: u.rem(30);
    color: var(--text-light);
    line-height: 1.2;

    @media (max-width: 1024px) {
      font-size: u.rem(20);
    }
  }

  &__button {
    margin-bottom: 5rem;
    color: var(--text-light);
    background: transparent;
    // padding: 8px 15px;
    font-size: 1rem;
    border: 1px solid white;
    border: none;
    padding: 8px 12px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background 0.3s;

    &--toggle {
      background: var(--button-primary-bg-hover);
    }

    &:hover {
      background: var(--button-primary-bg-hover);
    }
  }

  &__link {
    color: var(--text-light);
    background-color: var(--button-primary-bg);
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 50px;
    border: 2px solid var(--text-light);
    font-size: u.rem(24);
    margin-top: 1rem;
    align-self: flex-start;
    width: auto;


    &:hover {
      background-color: rgba(255, 255, 255, 0.075) !important;
      color: var(--text-light);
      border: 2px solid var(--text-light);

    }
  }

  // &__link {
  //   display: block;
  //   margin-top: 8px;
  //   margin-bottom: 5rem;
  //   color: var(--text-light);
  //   background-color: var(--button-primary-bg);
  //   padding: 8px 15px;
  //   font-size: 1rem;
  //   border: 1px solid white;
  //   padding: 8px 12px;
  //   margin: 8px 0;
  //   cursor: pointer;
  //   border-radius: 0.5rem;
  //   transition: background 0.3s;
  //   width: 8rem;

  //   &:hover {
  //     background-color: var(--link-active);
  //     color: var(--text-light);
  //   }
  // }
}
