@use '../util' as u;

.project-detail {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 1400px;

  // &__container {
  //     width: 100%;
  //     padding: 2rem;
  //     border-radius: 0.5rem;
  //     margin: 0 auto;
  //     align-items: center;
  //      display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     text-align: center;
  // }

  &__title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(3rem, 2.293rem + 3.008vw, 5rem);    
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.2rem;
    color: var(--text-light);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 0;
    padding: 0 5rem;

    @media (max-width: 900px) {
        padding: 0 1rem;
      }
  }
  

  &__columns-wrapper {
    margin-top: 3rem;
    display: flex;      
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    flex-wrap: nowrap;     
  }

  &__img-column,
  &__skills-column {
    min-width: 300px;
  }

  &__img-column {
    flex: 1 1 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__image {
    max-width: 80rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: -7rem;
  }

  .mockup-container {
    position: relative;
    width: 800px;
    height: 500px;
    overflow: hidden;
    max-width: 80rem;
    margin-left: -2rem;
  }
  
  .screen-content {
    position: absolute;
    top: 13%; 
    left: 15%;
    width: 70%;
    height: 74%;
    overflow: hidden;
    border-radius: 6px;
  }
  
  .screen-content img,
  .screen-content iframe {
    width: 100%;
    height: auto;
    transition: transform 6s linear;
  }
  
  .mockup-container:hover .screen-content img {
    transform: translateY(-40%);
  }
  
  .mockup-container:hover .screen-content iframe {
    transform: translateY(-40%);
  }

  .laptop-frame {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
    display: block;
    margin-top: -10rem;
  }


  &__skills-column {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    border: 1px solid var(--text-light);
    padding: 0 1rem;
    margin-right: 8rem;
  }

  &__skills-title {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--text-light);
    margin-bottom: 1rem;
    text-align: center;
  }

  &__skills-list {
    display: block;
    padding-left: 2rem;
    margin: 0;
    list-style: none;
    height: 40%;
  }

  &__skills-item {
    margin-bottom: 0.5rem; 
  }

  &__full-description {
    font-size: 1.2rem;
    color: var(--text-light);
    line-height: 2;
    text-align: left;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    padding: 0 5rem;

    @media (max-width: 900px) {
        padding: 0 1rem;
      }
  }

  &__link {
    color: var(--text-light);
    background-color: var(--button-primary-bg);
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 50px;
    border: 2px solid var(--text-light);
    font-size: u.rem(24);
    margin-top: 1rem;
    align-self: center;
    width: auto;


    &:hover {
      background-color: var(--transparent-bg);
      color: var(--text-light);
      border: 2px solid var(--text-light);
    }

    @media (max-width: 1024px) {
      padding: 10px 18px;
      font-size: u.rem(21);
    }
  }

  @media (max-width: 900px) {
    .project-detail__columns-wrapper {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center; 
    }
  
    .project-detail__img-column,
    .project-detail__skills-column {
      flex: 1 1 100%;
      max-width: 100%;
      margin: 0 auto;
    }
  
    .project-detail__image {
      margin-left: 0;
    }
  }
  
}
